.home-lesson h2 {
    padding: 0.2rem;
    margin-bottom: 0;
    font-size: 0.3rem;

    span {
        margin-left: 0.2rem;
    }

    .ant-card.ant-card-bordered.ant-card-hoverable {
        height:6.5rem;
        overflow:hidden;
    }
}