.nav {
  display: grid;
  background: #000;
  color: #fff;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 60px;
}

.nav p {
  color: #fff;
}

.nav a {
  text-decoration: none;
}
